* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

}

body {
    width: 100%;
    height: 100vh;

}

#main {
    /* width:100%; */
    background-image: url(nitish.JPG);
    background-size: cover;
    background-position: center center;
    height: calc(100% - 12px);
    padding: 6px 10px;
    /* background-color: #1fdbf8cb; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid;  */
    /* width:100%; */
    height: 10vh;
}

#navbar .profile {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    border: 0.2px solid whitesmoke;
    overflow: hidden;

}

#navbar h1 {
    font-size: 2rem;
    font-weight: 500;
    /* text-transform: capitalize; */
    letter-spacing: -2px;
    /* word-spacing: -1px; */
}

#navbar .messages {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    /* border:1px solid;  */
    background-color: #ffffff5e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#navbar .messages h6 {
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: 500;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#navbar .messages svg {
    opacity: 0.7;
}

.details {
    /* border:2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.details .arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 20px;
    padding-left: 5px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    ;
}

.details .arrow-icon svg {}

.details h1 {
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 400;
}

.location {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-transform: capitalize;

}

.location h4 {
    font-size: 17px;
    font-weight: 400;
}

.elem {
    border-radius: 9px;
    background-color: #f7f7f760;
    padding: 2.5px 8px;
}

.elem h5 {
    color: white;
    text-transform: capitalize;


}

.details h2 {font-size: 28px;
    text-transform: capitalize;
    font-weight: 400;
}

.interest {
    /* border: 1px solid black; */
    width: 180px;
padding:5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.biopara{
    font-size: 21px;
}
button{
    margin: 5px;
    width: 165px;
    border-radius: 15px;
    height: 70px;
    color:black;
    
}
.yes{
    background-color: rgb(212, 2, 51);

}
.on{
    font-size: 25px;

}
